<% layout("/layouts/boilerplate") %>
<div class="container ">
    
            
                <h1>Your Reservations</h1>
            <hr/>
                <% if (reservations.length> 0) { %>
                    <ul>
                        <% reservations.forEach(reservation=> { %>
                            <li>
                                <h3>
                                    <%= reservation.listing.title %>
                                </h3>
                                <p><b>Check-in:</b> <%= reservation.checkin.toDateString() %> | <b>Check-out:</b> <%= reservation.checkout.toDateString() %> |
                                <b>Name:</b> <%= reservation.name %> | <b>Email:</b>  <%= reservation.email %></p>
                                <p><b>Number of People:</b> <%= reservation.people %> | <b>Total Payment:</b> ₹<%= reservation.paymentAmount.toFixed(2) %></p>
                            </li>
                            <form action="/cancel-reservation" method="get">
                                <button type="submit" class="btn btn-danger mt-3">Cancel Reservation</button>
                            </form><hr/>
                           
                            <% }) %>
                            
                    </ul>
                    
                    <% } else { %>
                        <p>You have no reservations yet.</p>
                        <% } %>
            
                           
                
                
                </div>